@import "tailwindcss";

@font-face {
  font-family: Ethnocentric-Regular;
  src: url("../fonts/Ethnocentric-Regular.otf");
}

@font-face {
  font-family: Formula1-Regular;
  src: url(https://www.formula1.com/s/fonts/formula1/Formula1-Regular.woff2);
}
@font-face {
  font-family: TitilliumWeb-Regular;
  src: url(https://www.formula1.com/s/fonts/titillium/TitilliumWeb-Regular.ttf);
}


/* @theme {
  --font-ethnocentric: Ethnocentric-Regular;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-logo: var(--logo);
  --font-ethnocentric: Ethnocentric-Regular;
  --font-formula1: Formula1-Regular;
  --font-titillium: TitilliumWeb-Regular;
  --breakpoint-smd: 868px;
  --breakpoint-xsm: 594px;
  --breakpoint-xxsm: 354px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0% 0 0);
    --foreground: #ededed;
    --logo: rgb(225, 6, 0);
    --color-mclaren: #f47600;
    --color-ferrari: #710e10;
    --color-haasf1team: #a91324;
    --color-redbullracing: #141926;
    --color-mercedes: #1c1d20;
    --color-williams: #2769c5;
    --color-astonmartin: rgb(16, 98, 76);
    --color-kicksauber: #4b7a6a;
    --color-alpine: #c17a9a;
    --color-racingbulls: #073c83;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
